@using PTIT.B17DCCN490.PTTK_DBCLPM.Models.Entities;
@using Newtonsoft.Json;
@{
    ViewData["Title"] = "Thống kê | Premier Language";
}
<style>
    .club {
        max-width: 50px;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
    }
</style>

<div class="page">
    <section>
        <div class="d-flex align-items-center">
            <div class="footballIcon"></div>
            <h1 class="title">Thống kê giải đấu</h1>
        </div>
    </section>

    <section class="tabControl">
        <div class="d-flex align-items-center">
            <ul class="tabControlTitle w-70">
                <li class="sumary" id="bxh_tab"><a onclick="loadPage('bxh')" tabindex="1">BXH</a></li>
                <li class="sumary" id="banthang_tab"><a onclick="loadPage('banthang')" tabindex="2">Bàn thắng</a></li>
                <li class="sumary" id="the_tab"><a onclick="loadPage('the')" tabindex="3">Thẻ phạt</a></li>
                <li class="sumary" id="san_tab"><a onclick="loadPage('san')" tabindex="4">Sân đấu</a></li>
            </ul>
            <div class="ml-auto"></div>
            <div style="width: 250px">
                @Html.DropDownList("GiaiDauId",
                    new SelectList(ViewBag.GiaiDaus, "Value", "Text", ViewData["CurrentSeason"]),
                    new { @class = "w-100 p-drop", @onchange = "loadPage()", @tabindex="5" })
            </div>
        </div>

        <div class="tabControlBody" id="banthang">
            <table class="dataTable mt-10">
                <thead>
                    <tr>
                        <th class="w-t-num">#</th>
                        <th class="txt-left club">Đội bóng</th>
                        <th class="txt-left">Cầu thủ</th>
                        <th class="w-t-num">Bàn thắng</th>
                        <th class="w-t-num">Kiến tạo</th>
                        <th class="w-t-num">Thứ hạng</th>
                        <th class="w-t-num">Số phút</th>
                    </tr>
                </thead>
                <tbody>
                    @if (ViewData["TKGoal"] != null)
                    {
                        List<BXHCauThuBanThang> bxh = (List<BXHCauThuBanThang>)ViewData["TKGoal"];
                        @for (int i = 0; i < bxh.Count(); i++)
                        {
                            string[] ten = bxh[i].Ten.Split("|");
                            <tr ondblclick="toPage('@bxh[i].Id')" title="Click để xem chi tiết bàn thắng của @ten[0]">
                                <td>@(i+1)</td>
                                <td class="txt-left club" title="@ten[1]">@ten[1]</td>
                                <td class="txt-left">
                                    <span class="player">
                                        @ten[0]
                                    </span>
                                </td>
                                <td>@bxh[i].BanThang</td>
                                <td>@bxh[i].KienTao</td>
                                <td>@bxh[i].ThuHang</td>
                                <td>@bxh[i].ThoiGian</td>
                            </tr>
                        }
                        if (bxh.Count() == 0)
                        {
                            <tr>
                                <td colspan="6">Dữ liệu không có sắn</td>
                            </tr>
                        }
                    }
                    else
                    {
                        <tr>
                            <td colspan="6">Dữ liệu không có sắn</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <div id="bxh" class="tabControlBody" style="display: none;">
            <table class="dataTable mt-10">
                <thead>
                    <tr>
                        <th class="w-t-num">TH</th>
                        <th class="txt-left">Đội bóng</th>
                        <th class="w-t-num">Điểm</th>
                        <th class="w-t-num">Bàn thắng</th>
                        <th class="w-t-num">Bàn thua</th>
                        <th class="w-t-num">Hiệu số</th>
                        <th class="w-t-num">Số trận</th>
                    </tr>
                </thead>
                <tbody>
                    @if (ViewData["TKResult"] != null)
                    {
                        List<BXH> bxh = (List<BXH>)ViewData["TKResult"];
                        @for (int i = 0; i < bxh.Count(); i++)
                        {
                            <tr tabindex="@(6+i)">
                                <td class="w-t-num">@bxh[i].ThuHang</td>
                                <td class="txt-left">@bxh[i].Ten</td>
                                <td class="w-t-num">@bxh[i].Diem</td>
                                <td class="w-t-num">@bxh[i].BanThang</td>
                                <td class="w-t-num">@bxh[i].BanThua</td>
                                <td class="w-t-num">@(bxh[i].BanThang-bxh[i].BanThua)</td>
                                <td class="w-t-num">@bxh[i].SoTran</td>
                            </tr>
                        }
                        if (bxh.Count() == 0)
                        {
                            <tr>
                                <td colspan="7">Dữ liệu không có sắn</td>
                            </tr>
                        }
                    }
                    else
                    {
                        <tr>
                            <td colspan="7">Dữ liệu không có sắn</td>
                        </tr>
                    }

                </tbody>
            </table>
        </div>
        <div id="the" class="tabControlBody" style="display: none;">
            <span class="notiMes mt-10">Tính năng này đang được phát triển</span>
        </div>
        <div id="san" class="tabControlBody" style="display: none;">
            <span class="notiMes mt-10">Tính năng này đang được phát triển</span>
        </div>

    </section>
    @if (ViewData["TypeTK"] != null)
    {
        var tabName = ViewData["TypeTK"] as string;
        <script type="text/javascript">
            window.onload = function () {
                this.openTab('@tabName');
            }

            function loadPage(tabName) {
                if (this.isNullOrUndefined(tabName)) {
                    tabName = '@tabName';
                }
                let giaiDauId = document.getElementById("GiaiDauId").value;
                if (getCookie("GiaiDauId") != null) {
                    eraseCookie("GiaiDauId");
                }
                setCookie("GiaiDauId", giaiDauId);
                window.location.href = `/ThongKe?loai=${tabName}&muaGiai=${giaiDauId}`;
            }

            function toPage(cauThuId) {
                let giaiDauId = document.getElementById("GiaiDauId").value;
                window.location.href = `/TranDau?cauThu=${cauThuId}&muaGiai=${giaiDauId}`;
            }
        </script>
    }
</div>


