@{
    ViewData["Title"] = "Lịch thi đấu | Premier Language";
}
@using PTIT.B17DCCN490.PTTK_DBCLPM.Models.Entities;
@model List<TranDau>
<style>

    .tt-td {
        display: flex;
        align-items: center;
        width: 100%;
        font-weight: bold;
    }

    .dn > .tg {
        position: absolute;
        left: 15px;
    }

    .ty-so {
        padding: 0 10px;
        background: #0f4cd9;
        border-radius: 3px;
        display: block;
        width: 6%;
    }

        .ty-so > a {
            text-decoration: none;
            color: #fff;
        }

    .dn {
        width: 47%;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: end;
    }

    .dk {
        width: 47%;
        display: flex;
        align-items: center;
        justify-content: start;
    }
</style>

<div class="page">
    <section>
        <div class="title-site d-flex align-items-center">
            <div class="footballIcon"></div>
            <h1 class="title">Lịch thi đấu</h1>
        </div>
        <div class="d-flex">
            @Html.DropDownList("LoaiVongDauId",
                    new SelectList(ViewBag.VongDaus, "Value", "Text", ViewData["CurrentGroundStage"]),
                    new { @class = "p-drop", @onchange = "loadPage()" })
            <div style="margin-right: 10px"></div>
            @Html.DropDownList("GiaiDauId",
                    new SelectList(ViewBag.GiaiDaus, "Value", "Text", ViewData["CurrentSeason"]),
                    new { @class = "p-drop", @onchange = "loadPage()" })

            <div class="ml-auto">
                <button class="btn" onclick="createMatch()">Lên lịch</button>
            </div>
        </div>

        <table class="dataTable mt-10">
            <thead>
                <tr>
                    <td colspan="3" class="txt-center" style="font-weight: bold">DANH SÁCH TRẬN ĐẤU</td>
                </tr>
            </thead>
            <tbody>

                @foreach (var item in Model)
                {
                    <tr class="tt-td">
                        <td class="dn">
                            <div class="tg">@item.ThoiGianBD.ToString("dd/MM/yyyy")</div>
                            <div style="padding-right: 20px;">@item.DoiNha.DoiBong.DoiBong.Ten</div>
                        </td>
                        <td class="ty-so">
                            @if (item.DaKetThuc || item.DangDienRa)
                            {
                                <a href="/TranDau/Edit/@item.Id" title="Xem chi tiết">@item.DoiNha.SoBanThang : @item.DoiKhach.SoBanThang</a>
                            }
                            else
                            {
                                <a href="/TranDau/Edit/@item.Id" title="Xem chi tiết">_ : _</a>
                            }
                        </td>
                        <td class="dk">
                            <div style="padding-left: 20px;">@item.DoiKhach.DoiBong.DoiBong.Ten</div>
                        </td>
                    </tr>
                }
                @if (Model.Count() == 0)
                {
                    <tr><td class="txt-center">Dữ liệu không có sẵn</td></tr>
                }
            </tbody>
        </table>
    </section>
</div>

<script type="text/javascript">
    function loadPage() {
        let giaiDauId = document.getElementById("GiaiDauId").value;
        let loaiVongDauId = document.getElementById("LoaiVongDauId").value;
        if (getCookie("GiaiDauId") != null) {
            eraseCookie("GiaiDauId");
        }
        setCookie("GiaiDauId", giaiDauId);
        window.location.href = `/LichThiDau?vongDau=${loaiVongDauId}&muaGiai=${giaiDauId}`;
    }

    function createMatch() {
        let giaiDauId = document.getElementById("GiaiDauId").value;
        let loaiVongDauId = document.getElementById("LoaiVongDauId").value;
        if (getCookie("GiaiDauId") != null) {
            eraseCookie("GiaiDauId");
        }
        if (getCookie("LoaiVongDauId") != null) {
            eraseCookie("LoaiVongDauId");
        }
        setCookie("GiaiDauId", giaiDauId);
        setCookie("LoaiVongDauId", loaiVongDauId);
        window.location.href = '/TranDau/Add';
    }
</script>