@{
    ViewData["Title"] = "Danh sách trận đấu | Premier Leaguae";
}
@using PTIT.B17DCCN490.PTTK_DBCLPM.Models.Entities;
@model List<TranDau>;
<style>
    .tg {
        padding: 0 10px;
        margin-right: 5px;
        background: #1b2a50;
        border-radius: 5px;
    }
</style>
<div class="homePage">
    <section class="match mx-10">
        <div class="title-site d-flex align-items-center">
            <div class="footballIcon"></div>
            <h1 class="title">Danh sách trận đấu - @ViewData["TenCauThu"]  ghi bàn </h1>
        </div>
    </section>
    <section>
        <table class="dataTable">
            <thead>
                <tr>
                    <th class="w-t-num">STT</th>
                    <th class="txt-left">Đội nhà</th>
                    <th class="txt-left">Đội khách</th>
                    <th class="w-t-num" title="Số bàn thắng">SBT</th>
                    <th class="txt-left">Mốc thời gian</th>
                </tr>
            </thead>
            <tbody>
                @if (Model.Count() == 0)
                {
                    <tr>
                        <td colspan="5">Dữ liệu không có sắn</td>
                    </tr>
                }
                else
                {
                    Dictionary<TranDau, List<SuKien>> mappingTDSKs = (Dictionary<TranDau, List<SuKien>>)ViewData["TDSKS"];
                    for (int i = 0; i < Model.Count(); i++)
                    {
                        List<SuKien> sks = mappingTDSKs[Model[i]].OrderBy(item => item.ThoiDiem).ToList();

                        <tr onclick="loadPage('@Model[i].Id')">
                            <td class="w-t-num">@(i+1)</td>
                            <td class="txt-left">@Model[i].DoiNha.DoiBong.DoiBong.Ten</td>
                            <td class="txt-left">@Model[i].DoiKhach.DoiBong.DoiBong.Ten</td>
                            <td class="w-t-num">@sks.Count()</td>
                            <td class="txt-left">
                                @for (int j = 0; j < sks.Count(); j++)
                                {
                                    <span class="tg">@sks[j].ThoiDiem</span>
                                }
                            </td>
                        </tr>

                    }
                }
            </tbody>
        </table>
    </section>

</div>
<script type="text/javascript">
    function loadPage(id) {
        window.location.href = `/TranDau/Edit/${id}`;
    }
</script>
